.userContent {
  margin-top: 1em;
  position: relative;
  min-height: 400px;
  .main {
    margin-right: 300px;
  }
  .side {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// begin table.users
ul.users {
  
  padding: 0px;
  
  li.userBox {
    
    @include gray-frame;
    list-style: none;
    
    .inner {
      min-height: 60px;
    }
    
    .rank {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 12px;
      font-weight: bold;
      font-family: serif;
      color: #CCC;
      @include border-radius(25px,25px,25px,25px);
      background: #000;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }
    
    .user-icon {
      position: absolute;
      width: 48px;
      img {
        width: 48px;
        height: 48px;
      }
    }
    
    .user-info {
      margin-left: 60px;
      .login {
        font-size: 15px;
        font-weight: bold;
      }
    }
    
  }
}
// end table.users
