.userContent {
  margin-top: 1em;
  position: relative;
  min-height: 400px;
  .main {
    margin-right: 300px;
  }
  .side {
    position: absolute;
    top: 0;
    right: 0;
  }
}

// begin table.users
ul.users {
  
  padding: 0px;
  
  li.user {
    
    position: relative;
    list-style: none;
    border-bottom: 1px solid #000;
    padding: 10px;
    min-height: 60px;
    
    .rank {
      position: absolute;
      top: 5px;
      left: 0;
      font-size: 12px;
      font-weight: bold;
      font-family: serif;
      color: #CCC;
      @include border-radius(25px,25px,25px,25px);
      background: #000;
      width: 25px;
      height: 25px;
      line-height: 25px;
      text-align: center;
    }
    
    .user-icon {
      position: absolute;
      background: #FFF;
      padding: 5px;
      width: 48px;
      border: 2px solid #d1d1d1;
      @include border-radius(4px,4px,4px,4px);
      img {
        width: 48px;
        height: 48px;
      }
    }
    
    .user-info {
      margin-left: 70px;
      .login {
        font-size: 15px;
        font-weight: bold;
      }
    }
    
  }
}
// end table.users
