%li.user
  .user-icon
    = link_to image_tag(user.profile_image_url), user_path(user)
  .user-info
    .login=raw link_to user.login, user_path(user)
    .description=raw user.description
    .points
      %strong=raw user.yums.enables.sum(:view_count)
      views
      %strong=raw user.receive_comments_count
      comments
      %strong=raw user.yums.enables.count
      photos
      %strong=raw user.yums.enables.sum(:yummy_count)
      pecos
  - if rank
    .rank= rank
