- title "注目ユーザー - ラペコ 美味しそう！を共有するサービス"
- cache @cache_key do
  .usersSection
    %h1 注目ユーザー
    .mainBox
      %ul.users
        - @users.each_with_index do |user, index|
          - rank = @users.offset + index + 1
          = render :partial => 'user', :locals => {:user => user, :rank => rank}
      = will_paginate(@users)
    .sideBox
      .navi
        %ul
          %li= link_to '注目順', hot_users_path
          %li= link_to '新着順', recent_users_path
    


