<% title "ラペコについて - ラペコ 美味しそう！を共有するサービス" %>
<div id='aboutContent'>
  
  <h1>ラペコについて</h1>
  <p>
    ラペコは<strong>『美味しそう！』</strong>を気軽に共有できるサービスです。<br />
    <strong>美味しそうなごはんの写真</strong>を<a href="http://twitter.com">twitter</a>で共有して、みんなをハラペコにしちゃおう！
  </p>
  <p>
    <%= image_tag 'about/image_01.png', :class => 'capture' %>
  </p>

  <h2>ラペコでできること</h2>
  <ul class='pickup'>
    <li>美味しそうなごはん写真（ペコフォト）を<a href="http://twitter.com">twitter</a>で共有</li>
    <li><a href="http://twitter.com">twitter</a>で今みんなをハラペコににしている美味しそうなごはん写真を見つける</li>
  </ul>
  
  <h2>ペコフォトとは</h2>
  <p>
    見ただけでお腹ペコペコになってしまうくらい美味しそうなごはん写真のことを「ラペコ」では「ペコフォト」と呼んでいます。<br />
    ラペコでは、自分でペコフォトを投稿したり、twitterでみかけた美味しそうな料理写真をペコフォトとして登録して、みんなに共有することができます。
  </p>
  
  <h2>例えばこんな楽しみ方</h2>
  <ul class='pickup'>
    <li>
      今食べているケーキがすごくかわいいので、みんなに見せたい！
    </li>
    <li>
      食べ歩きを記録して、あとでゆっくり見たい！
    </li>
    <li>
      美味しいもの好きのユーザーと知り合いたい！
    </li>
    <li>
      自信作の今日のお弁当をみんなに見せたい！
    </li>
    <li>
      とにかく美味しそうな写真が見たい！
    </li>
    <li>
      いろんな人に自分のお店のメニューを知ってもらいたい！
    </li>
  </ul>
  
  
  <h2>今後予定されている機能</h2>
  <p>
    ラペコはβ版です。随時機能を増やしていく予定ですので、ご要望があれば是非ご連絡ください。<br />
    今後追加する予定になっている機能は..
  </p>
  <ul>
    <li>ペコフォトをタグで整理できる機能</li>
    <li>お気に入りペコフォトの管理</li>
    <li>フォローしている人のペコフォト表示</li>
    <li>iPhoneクライアント</li>
  </ul>

  <h2>
    作ってる人
  </h2>
  <p>ラペコは基本的に @func09 (<a href="http://www.func09.com/wordpress">func09.com</a>) がひとりで作っています。<br />
    ロゴ・イラストは @ai1017 (<a href="http://gaya-anime.com/">gaya anime</a>) が描いてくれました。</p>
  <p>
    手伝ってくれる人、特にデザイナーさん募集中です。
  </p>

  <h3>Thanks</h3>
  <p>
    開発段階でアイデアや意見をもらいました。<br />
    @amachin, @isshie, @at_exit, @f96q, @pugiemonn
  </p>
  
  
  <h2>
    お問い合わせ先
  </h2>
  <p>
    ラペコに関するお問い合わせは、 mitsuru.haga[at]gmail.com までどうぞ
  </p>
  

</div>

