- title "ラペコxDelicam 美味しさ共有キャンペーン - ラペコ 美味しそう！を共有するサービス"
%h1 ラペコ×Delicam 美味しさ共有キャンペーン

%div
  = image_tag 'campaign/campaign_delicam_main.png'

%p
  美味しそう！を共有するサービス「ラペコ」と、
  %br
  写真を美味しそうに変換するiPhoneアプリ「Delicam」が最強のコンビを組みました。

%h2 初のラペコ正式対応iPhoneアプリ登場
%p
  <a href="http://blog.imishin.com/projects/iphone-ja/delicam/">Delicam</a>は、撮影した写真を美味しそうに変換するiPhoneアプリです。
  %br
  この度、Delicamの最新バージョンで、変換した美味しそうな写真をラペコに投稿することが可能になりました！
  %br
  
%h2 DeliCamでラペコ投稿がもっと簡単に！
%p
  Delicamで写真を撮影して、美味しそうに変換し、つぶやきと一緒にラペコに投稿する。
  %br
  DeliCamを使えば、簡単に、より美味しそうなペコフォトを投稿できます！

%h2 今だけ期間限定半額キャンペーン！
%p
  <strong>「ラペコxDelicam 美味しさ共有キャンペーン」</strong>としまして、
  %br
  通常230円のDelicamを、半額の115円で販売する半額キャンペーンを実施しています。
  %br
  キャンペーン期間は7/18までですので、是非この機会にDelicamを体験してください！
%p
  = link_to image_tag('app-store.png', :size => '158x52'), 'http://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=315099381&mt=8'

%h2 画面イメージ

%p
  = image_tag 'campaign/delicam_campaign_screen_1.png'
  = image_tag 'campaign/delicam_campaign_screen_2.png'


