<% title "お問い合わせ - ラペコ 美味しそう！を共有するサービス" %>
<div id='aboutContent'>
  
  <h1>お問い合わせ</h1>
  
  <p>
    当サイトに関する、お問い合わせ、広告掲載依頼、ご意見、ご要望は<a href="mailto:mitsuru.haga@gmail.com">運営者</a>までお知らせください。
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
  </p>

</div>