<% title "ラペコの楽しみ方 - ラペコ 美味しそう！を共有するサービス" %>
<h1>
  <%=h yield(:title)%>
</h1>

<h2>ペコフォトとは</h2>
<p>
  ペコフォトとは、見ただけでみんながお腹ペコペコになってしまうくらい美味しそうな料理写真のことです。<br />
  ラペコでは、自分でペコフォトを投稿したり、twitterでみかけた美味しそうな料理写真をペコフォトとして登録できます。
</p>

<h2>例えばこんな楽しみ方</h2>
<ol>
  <li>
    今食べているケーキがすごくかわいいので、みんなに見せたい！
  </li>
  <li>
    食べ歩きを記録して、あとでゆっくり見たい！
  </li>
  <li>
    美味しいもの好きのユーザーと知り合いたい！
  </li>
  <li>
    自信作の今日のお弁当をみんなに見せたい！
  </li>
  <li>
    とにかく美味しそうな写真が見たい！
  </li>
  <li>
    いろんな人に自分のお店のメニューを知ってもらいたい！
  </li>
</ol>



<h2>自分で撮影した料理写真をラペコに載せたい</h2>
<p>
  自分で美味しそうな料理写真をラペコに載せたい場合は、<br />
  「<%= link_to 'ペコフォトを投稿', new_yum_path %>」ページから、写真をアップロードしてください。<br />
  投稿するにはtwitterで「ラペコ」があなたのtwitterアカウントにアクセスする権利を承認していただく必要があります。<br />
  写真はTwitpicにアップロードされ、メッセージはあなたのtwitterに投稿されます。
</p>

<h2>他の人の美味しそうな料理写真をラペコに載せるには</h2>
<p>
  twitteでこれは美味しそう！という写真に出会ったら、どんどんRT（リツイート）しましょう。<br />
  ツイートに<strong>#rapeco</strong> タグを付けてRTをして、しばらく待てばラペコに登録されます。
</p>

<h2>食べられないものの写真を見つけたら</h2>
<p>
  たまに<strong>食べ物じゃない写真</strong>が混ざってしまうことがあります。<br />
  そういう写真を見つけたら「<strong>食べられない写真を報告する</strong>」ボタンをクリックすると運営者のチェックの後、表示から削除されます。<br />
  質の高いラペコ写真のために是非ご協力をお願いいたします。<br />
</p>
