ENV['TWITPIC_API_KEY'] = ''
ENV['OAUTH_CONSUMER_KEY'] = ''
ENV['OAUTH_CONSUMER_SECRET'] = ''
ENV['ADMIN_USERNAME'] = ''
ENV['ADMIN_PASSWORD'] = ''
ENV['TWITTER_APP_USER'] = ''
ENV['TWITTER_UPLOAD_USER'] = ''
