<div id='helpMenu'>
  <ul>
    <li><%= link_to 'ラペコに写真を投稿したい', help_path %></li>
    <li><%= link_to 'iPhoneから投稿する', iphone_help_path %></li>
    <li><%= link_to '食べられない写真を通報する', report_help_path %></li>
  </ul>
</div>
