<% title "iPhoneから投稿する - ラペコ 美味しそう！を共有するサービス" %>

<div class='helpSection'>
  <%= render :partial => 'menu' %>
  <div id='helpContent'>
    <h2>iPhoneから投稿する</h2>
    
    <h3>1.ラペコでユーザー登録する</h3>
    
    <p>
      ラペコにログインしたことがあるアカウントが必要です。<br />
      こちらから<a href="/login">ログイン</a>してください。
    </p>
    
    <h3>2.画像投稿機能付きのiPhone ツイッタークライアントを用意する</h3>
    
    <p>
      画像投稿機能に対応したiPhoneのツイッタークライアントをお使いください。<br />
      <a href="http://itunes.apple.com/us/app/twitter/id333903271?mt=8&ign-mpt=uo%3D2">ツイッター公式アプリ</a>や<a href="http://itunes.apple.com/app/echofon-for-twitter/id286756410?mt=8">Echofon</a>がおすすめです。<br />
      TwitPicかYFrogへの画像投稿に対応しているクライアントであれば投稿可能です。
    </p>
    
    <h3>3.ツイッタークライアントから画像URLつきで@uppecoにツイートする</h3>
    
    <p>
      @uppeco はラペコの投稿用アカウントです。このアカウントに向けて、画像URL（TwitPic,YFrog）付でツイートしてください。<br />
    </p>
    
    <p>
      <img src='/images/help/iphone_usage.jpg' /><br />
      ツイッター公式アプリでの例。画像を添付してツイートするとTwitPicのURLが展開されます。
    </p>
    
    <h3>4.ペコフォトURLがツイートされる</h3>
    
    <p>
      数分以内に先ほどツイートした画像をペコフォトとして投稿し、さらにあなたのツイッターアカウントでペコフォトのURLをつぶやきます。
    </p>
    
  </div>
</div>




