<% title "食べられない写真を通報する - ラペコ 美味しそう！を共有するサービス" %>

<div class='helpSection'>
  <%= render :partial => 'menu' %>
  <div id='helpContent'>
    <h2>食べられない写真を通報する</h2>
    <p>
      たまに食べ物じゃない写真が混ざってしまうことがあります。<br />
      そういう写真を見つけたら「<strong>食べられない写真を報告する</strong>」ボタンをクリックすると運営者のチェックの後、表示から削除されます。
    </p>
    <p>
      <%= image_tag 'about/image_06.png', :class => 'capture' %>
    </p>
    <p>
      質の高いペコフォトのために是非ご協力をお願いいたします。
    </p>
  </div>
</div>




